In [41]:
import pnadium 
# Colunas de interesse:

cols = [
"Ano",
"Trimestre",
"UF",
"V2007",    # Sexo
"V20082",   # Ano Nascimento
"V2010",    # Cor/Raça
"V3003",    # Escolaridade
"V403311", # Rendimento
"VD4001",   # Força de trabalho
"VD4012"    # Ocupação no setor
]

# Download dos dados do 1º trimestre de 2020 (dados trimestrais), apenas com colunas de interesse
pnad_filter = pnadium.trimestral.download(ano=2013, t=1, colunas=cols)

Iniciou o download: Trimestre 1/2013 - aguarde.
Download finalizado.
Iniciou a criação do DataFrame Pandas: esta etapa pode demorar alguns minutos.
Chunks processados e salvos.
DataFrame criado.

In [39]:
pnad_filter

,Ano,Trimestre,UF,UPA,V1008,V1014,V2003,V2007,V20082,V2010,V3003,V4012,V403311,VD4001,COD_FAM,COD_PESSOA
0,2013,1,11,110000153,01,2,01,2,1940,1,NaN,NaN,NaN,2.0,110000153012,11000015301201
1,2013,1,11,110000153,01,2,02,2,2000,4,3.0,NaN,NaN,NaN,110000153012,11000015301202
2,2013,1,11,110000153,02,2,01,2,1962,1,NaN,1.0,2.0,1.0,110000153022,11000015302201
3,2013,1,11,110000153,03,2,01,1,1953,4,NaN,6.0,3.0,1.0,110000153032,11000015303201
4,2013,1,11,110000153,03,2,02,2,1957,4,NaN,4.0,3.0,1.0,110000153032,11000015303202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564768,2013,1,53,530044377,12,2,01,2,1980,1,NaN,3.0,3.0,1.0,530044377122,53004437712201
564769,2013,1,53,530044377,12,2,02,1,2004,4,3.0,NaN,NaN,NaN,530044377122,53004437712202
564770,2013,1,53,530044377,12,2,03,1,2006,4,3.0,NaN,NaN,NaN,530044377122,53004437712203
564771,2013,1,53,530044377,14,2,01,1,1982,4,NaN,4.0,5.0,1.0,530044377142,53004437714201
564772,2013,1,53,530044377,14,2,02,2,1989,2,7.0,3.0,3.0,1.0,530044377142,53004437714202

In [ ]:
import pandas as pd

df = pnad_filter

df[["Ano","Trimestre","UF","V2007", "V20082",  "V2010", "V3003", "V403311", "VD4001", "VD4012"]]

,Ano,Trimestre,UF,V2007,V20082,V2010,V3003,V403311,VD4001,VD4012
0,2013,1,11,2,1940,1,NaN,NaN,2.0,NaN
1,2013,1,11,2,2000,4,3.0,NaN,NaN,NaN
2,2013,1,11,2,1962,1,NaN,2.0,1.0,2.0
3,2013,1,11,1,1953,4,NaN,3.0,1.0,2.0
4,2013,1,11,2,1957,4,NaN,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
564768,2013,1,53,2,1980,1,NaN,3.0,1.0,1.0
564769,2013,1,53,1,2004,4,3.0,NaN,NaN,NaN
564770,2013,1,53,1,2006,4,3.0,NaN,NaN,NaN
564771,2013,1,53,1,1982,4,NaN,5.0,1.0,1.0
564772,2013,1,53,2,1989,2,7.0,3.0,1.0,1.0

In [43]:
import pandas as pd

pnad_filter

df = pnad_filter.rename(columns={
    "V2007":"Sexo",
    "V20082": "Ano_Nascimento",
    "V2010":"Cor",
    "V3003":"Escolaridade",
    "V403311":"Renda",
    "VD4001":"FTrabalho",
    "VD4012":"Setor_Ocupacao"
})

col = [
    "Ano",
    "Trimestre",
    "UF",
    "Sexo",
    "Cor",
    "Escolaridade",
    "Renda",
    "FTrabalho",
    "Setor_Ocupacao"
]

df[col]

,Ano,Trimestre,UF,Sexo,Cor,Escolaridade,Renda,FTrabalho,Setor_Ocupacao
0,2013,1,11,2,1,NaN,NaN,2.0,NaN
1,2013,1,11,2,4,3.0,NaN,NaN,NaN
2,2013,1,11,2,1,NaN,2.0,1.0,2.0
3,2013,1,11,1,4,NaN,3.0,1.0,2.0
4,2013,1,11,2,4,NaN,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
564768,2013,1,53,2,1,NaN,3.0,1.0,1.0
564769,2013,1,53,1,4,3.0,NaN,NaN,NaN
564770,2013,1,53,1,4,3.0,NaN,NaN,NaN
564771,2013,1,53,1,4,NaN,5.0,1.0,1.0
564772,2013,1,53,2,2,7.0,3.0,1.0,1.0

In [5]:
import pandas as pd

file = "dados/pnad_trimestral_trimestre_012013.parquet"  

df = pd.read_parquet(file)

# Ano, Trimestre, Sexo, Raça, Ano de Nascimento, Região da Federação, Renda ,Escolaridade, Tempo de emprego ou experiencia, Condição civil, Setor de atividade.

In [ ]:
import pandas as pd

colunas = ['']

In [52]:
from source.transform import Transform

t = Transform()

t.rename_columns(2013, 1)

TypeError: Transform.rename_columns() missing 1 required positional argument: 'columns_renames'